# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# Flask
instance/
.webassets-cache

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Compiled files
*.exe
*.o
*.obj